{% extends "base.html.twig" %}

{% block body %}
    {{ dump(list) }} 
    {% for key, value in list %}
        <p>{{ key }} <a href="{{ url({{value}}) }}">Details</a></p>     
        
    {% endfor %}
    
{% endblock %}